<h4>Basics</h4>
<p>Here are a few of the basics like a <a href="#basics">link</a>, <strong>bold</strong>, and <em>italics</em>. And here's the markdown code:</p>
<pre><code>[link](#basics), **bold**, and *italics*.</code></pre>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
<h1>h1. This is a very large header.</h1>
<h2>h2. This is a large header.</h2>
<h3>h3. This is a medium header.</h3>
<h4>h4. This is a moderate header.</h4>
<h5>h5. This is a small header.</h5>
<h6>h6. This is a tiny header.</h6>
<p>Below is a <code>&lt;blockquote&gt;</code> using <code>&gt;</code> in markdown</p>
<blockquote>
  <p>Single blockquote</p>
</blockquote>
<p>Below is a nested <code>&lt;blockquote&gt;</code> using <code>&gt;</code> in markdown for the first one and <code>&gt;&gt;</code> for the second one</p>
<blockquote>
  <p>First level of a nested blockquote</p>
  <blockquote>
    <p>Nested blockquote</p>
  </blockquote>
</blockquote>
<p>Below is a <code>&lt;blockquote&gt;</code> using <code>&gt;&gt;&gt;</code> in markdown</p>
<blockquote>
  <blockquote>
    <blockquote>
      <p>Triple blockquote</p>
    </blockquote>
  </blockquote>
</blockquote>
<p>Below is a <code>&lt;blockquote&gt;</code> using <code>&gt;&gt;&gt;&gt;</code> in markdown</p>
<blockquote>
  <blockquote>
    <blockquote>
      <blockquote>
        <p>Quadruple blockquote</p>
      </blockquote>
    </blockquote>
  </blockquote>
</blockquote>
<p>Below is a <code>&lt;blockquote&gt;</code> using <code>&gt;&gt;&gt;&gt;&gt;</code> in markdown</p>
<blockquote>
  <blockquote>
    <blockquote>
      <blockquote>
        <blockquote>
          <p>Quintuple blockquote</p>
        </blockquote>
      </blockquote>
    </blockquote>
  </blockquote>
</blockquote>
<p>Below is a <code>&lt;blockquote&gt;</code> using <code>&gt;&gt;&gt;&gt;&gt;&gt;</code> in markdown</p>
<blockquote>
  <blockquote>
    <blockquote>
      <blockquote>
        <blockquote>
          <blockquote>
            <p>Sextuple blockquote</p>
          </blockquote>
        </blockquote>
      </blockquote>
    </blockquote>
  </blockquote>
</blockquote>
<p><em>Pre</em> and <em>Code</em> styling is included and <strong>PrettyPrint</strong> is an additional option that you can toggle on or off in the theme settings. Turning PrettyPrint off will keep the CSS and JS from loading on your page.</p>
<pre><code>--- title: My New Page --- # My New Page! This is the body of **my new page** and I can easily use _Markdown_ syntax here.</code></pre>
<pre><code>&lt;div&gt; &lt;p&gt;Markup with &lt;a href="https://code.google.com/p/google-code-prettify/" target="_blank"&gt;prettyprint&lt;/a&gt;&lt;/p&gt; &lt;/div&gt;</code></pre>
<p>To add the style class for <a href="https://code.google.com/p/google-code-prettify/">PrettyPrint</a>, you just need to add <code>prettyprint</code> directly after the top code fence:</p>
<pre> ```prettyprint &lt;Your Code Here /&gt; ``` </pre>
<h2>Table</h2>
<table>
  <thead>
    <tr><th width="200">Table Header</th><th>Table Header</th><th width="150">Table Header</th><th width="150">Table Header</th></tr>
  </thead>
  <tbody>
    <tr>
      <td>Content Goes Here</td>
      <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
      <td>Content Goes Here</td>
      <td>Content Goes Here</td>
    </tr>
    <tr>
      <td>Content Goes Here</td>
      <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
      <td>Content Goes Here</td>
      <td>Content Goes Here</td>
    </tr>
    <tr>
      <td>Content Goes Here</td>
      <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
      <td>Content Goes Here</td>
      <td>Content Goes Here</td>
    </tr>
  </tbody>
</table>
<h4>Unordered List</h4>
<ul>
  <li>List item with a much longer description or more content.</li>
  <li>List item</li>
  <li>List item
    <ul>
      <li>Nested list item</li>
      <li>Nested list item</li>
      <li>Nested list item</li>
    </ul>
  </li>
  <li>List item</li>
  <li>List item</li>
  <li>List item</li>
</ul>
<h4>Ordered List</h4>
<ol>
  <li>Cheese (essential)</li>
  <li>Pepperoni</li>
  <li>Bacon
    <ol>
      <li>Normal bacon
        <ol>
          <li>More bacon</li>
          <li>Even more bacon</li>
        </ol>
      </li>
      <li>Canadian bacon</li>
    </ol>
  </li>
  <li>Mushrooms</li>
  <li>Onions</li>
</ol>