.pages-list .page-icon {
  color: #d67f65; }

.pages-list .page-icon.not-routable {
  color: #e2c196; }

.pages-list .page-icon.not-visible {
  color: #b5b5b6; }

.pages-list .page-icon.modular {
  color: #65bbd6; }

body {
  background: #e8e8e6;
  color: #49494b; }

a {
  color: #232324; }
  a:hover {
    color: #171717;
    text-shadow: #171717 0px 0px 0px; }

blockquote {
  border-left: 10px solid #f2f2f2; }
  blockquote p {
    color: #999; }
  blockquote cite {
    color: #666; }

code {
  background: #f9f2f4;
  color: #9c1d3d; }

pre {
  background: #f6f6f6;
  border: 1px solid #dddddd; }
  pre code {
    color: #237794; }

hr {
  border-bottom: 4px solid #f7f7f7; }

.label {
  background: #232324;
  color: #ffffff; }

.light-border {
  border-color: #f7f7f7 !important; }

.subtle-text {
  color: #626265 !important; }

td {
  border-bottom: 1px solid #f7f7f7; }

tr td.gpm-details {
  background-color: #fafafa; }

.tab-bar {
  background: #49494b;
  color: #ffffff; }
  .tab-bar li.active span, .tab-bar li.active a {
    background: #ffffff;
    color: #49494b; }
  .tab-bar span, .tab-bar a {
    color: #ffffff; }
    .tab-bar span:hover, .tab-bar a:hover {
      color: white;
      background: #626265; }

.button {
  color: white;
  border-radius: 4px;
  background: #49494b; }
  .button:hover {
    background: #242424;
    color: #ffffff; }
  .button.dropdown-toggle {
    border-left: 1px solid #3c3c3e; }
  .button.dropdown-toggle {
    border-left: 1px solid #3c3c3e; }
  .button.secondary {
    color: white;
    border-radius: 4px;
    background: #3a3a3c; }
    .button.secondary:hover {
      background: #151515;
      color: #ffffff; }
    .button.secondary.dropdown-toggle {
      border-left: 1px solid #2d2d2f; }
    .button.secondary.dropdown-toggle {
      border-left: 1px solid #2d2d2f; }

.button-group .dropdown-menu {
  background-color: #49494b;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); }
  .button-group .dropdown-menu .divider {
    background-color: #49494b; }
  .button-group .dropdown-menu li > a {
    color: #ffffff; }
    .button-group .dropdown-menu li > a:focus, .button-group .dropdown-menu li > a:hover {
      color: #ffffff;
      background-color: #49494b; }
  .button-group .dropdown-menu.language-switcher a.active {
    background-color: #626265; }

#admin-main .admin-block a.gumroad-button {
  background: #d43200 !important;
  color: #ffffff !important; }

#admin-login-wrapper {
  background: radial-gradient(circle at center, white 0%, #d0d0cb 100%); }

#admin-login {
  background: #8e8e90; }
  #admin-login.wide form input::-webkit-input-placeholder::-webkit-input-placeholder {
    color: white; }
  #admin-login.wide form input::-webkit-input-placeholder::-moz-placeholder {
    color: white; }
  #admin-login.wide form input::-webkit-input-placeholder:-moz-placeholder {
    color: white; }
  #admin-login.wide form input::-webkit-input-placeholder:-ms-input-placeholder {
    color: white; }
  #admin-login.wide form input::-moz-placeholder::-webkit-input-placeholder {
    color: white; }
  #admin-login.wide form input::-moz-placeholder::-moz-placeholder {
    color: white; }
  #admin-login.wide form input::-moz-placeholder:-moz-placeholder {
    color: white; }
  #admin-login.wide form input::-moz-placeholder:-ms-input-placeholder {
    color: white; }
  #admin-login.wide form input:-moz-placeholder::-webkit-input-placeholder {
    color: white; }
  #admin-login.wide form input:-moz-placeholder::-moz-placeholder {
    color: white; }
  #admin-login.wide form input:-moz-placeholder:-moz-placeholder {
    color: white; }
  #admin-login.wide form input:-moz-placeholder:-ms-input-placeholder {
    color: white; }
  #admin-login.wide form input:-ms-input-placeholder::-webkit-input-placeholder {
    color: white; }
  #admin-login.wide form input:-ms-input-placeholder::-moz-placeholder {
    color: white; }
  #admin-login.wide form input:-ms-input-placeholder:-moz-placeholder {
    color: white; }
  #admin-login.wide form input:-ms-input-placeholder:-ms-input-placeholder {
    color: white; }
  #admin-login .wrapper-spacer h3 {
    color: rgba(255, 255, 255, 0.4);
    border-bottom: 3px solid rgba(235, 235, 235, 0.1); }
  #admin-login .instructions {
    color: rgba(255, 255, 255, 0.8); }
  #admin-login h1 {
    background: #818183 url(../images/logo.png) 50% 50% no-repeat; }
  #admin-login form input {
    background: #969698;
    color: #ebebeb;
    border: 1px solid #727273; }
    #admin-login form input::-webkit-input-placeholder {
      color: white; }
    #admin-login form input::-moz-placeholder {
      color: white; }
    #admin-login form input:-moz-placeholder {
      color: white; }
    #admin-login form input:-ms-input-placeholder {
      color: white; }

#admin-sidebar {
  background: #8e8e90; }
  #admin-sidebar a {
    color: rgba(235, 235, 235, 0.9); }
    #admin-sidebar a:hover {
      color: #ebebeb; }

#admin-logo, #open-handle {
  background: #8e8e90; }
  #admin-logo .grav-logo path, #open-handle .grav-logo path {
    fill: rgba(255, 255, 255, 0.9) !important; }
  #admin-logo .grav-logo:hover path, #open-handle .grav-logo:hover path {
    fill: #ffffff !important; }
  #admin-logo a, #admin-logo i, #open-handle a, #open-handle i {
    color: #e6e6e6; }
    #admin-logo a:hover, #admin-logo i:hover, #open-handle a:hover, #open-handle i:hover {
      color: #ffffff; }

#admin-user-details, .admin-user-details {
  border-bottom: 1px solid #9b9b9d; }
  #admin-user-details:hover img, .admin-user-details:hover img {
    box-shadow: 0px 0px 0 50px #969698; }
  #admin-user-details .admin-user-names h4, #admin-user-details .admin-user-names h5, .admin-user-details .admin-user-names h4, .admin-user-details .admin-user-names h5 {
    color: #ebebeb; }

#admin-menu li .badges .count {
  color: #ebebeb;
  background-color: #747477; }
#admin-menu li .badges .updates {
  color: #ffffff;
  background-color: #49494b; }
#admin-menu li a:hover {
  background: #8e8e90;
  color: #ffffff; }
  #admin-menu li a:hover .fa {
    color: #ffffff; }
#admin-menu li.selected a {
  background: #7a7a7c;
  color: #ffffff;
  border-left: 9px solid #5d5d60; }
  #admin-menu li.selected a .fa {
    color: #ffffff; }

#admin-main .grav-update {
  background: #8e8e90;
  color: #ffffff; }
  #admin-main .grav-update a.button, #admin-main .grav-update span.button, #admin-main .grav-update button.button {
    color: white;
    border-radius: 4px;
    background: #727273; }
    #admin-main .grav-update a.button:hover, #admin-main .grav-update span.button:hover, #admin-main .grav-update button.button:hover {
      background: #616162;
      color: #ffffff; }
    #admin-main .grav-update a.button.dropdown-toggle, #admin-main .grav-update span.button.dropdown-toggle, #admin-main .grav-update button.button.dropdown-toggle {
      border-left: 1px solid #7f7f80; }
#admin-main .titlebar {
  background: #bd8c7d;
  color: #ffffff; }
  #admin-main .titlebar .button-bar .button {
    color: white;
    border-radius: 4px;
    background: #49494b; }
    #admin-main .titlebar .button-bar .button:hover {
      background: #242424;
      color: #ffffff; }
    #admin-main .titlebar .button-bar .button.dropdown-toggle {
      border-left: 1px solid #3c3c3e; }
#admin-main .lines-button {
  background: rgba(0, 0, 0, 0.1); }
  #admin-main .lines-button .lines, #admin-main .lines-button .lines:before, #admin-main .lines-button .lines:after {
    background: #ffffff; }
#admin-main .admin-block {
  background: #ffffff;
  color: #49494b; }
  #admin-main .admin-block a {
    color: #232324; }
    #admin-main .admin-block a:hover {
      color: #171717; }
  #admin-main .admin-block h1 {
    color: #49494b;
    border-bottom: 3px solid #f7f7f7; }
  #admin-main .admin-block .button {
    color: white;
    border-radius: 4px;
    background: #49494b; }
    #admin-main .admin-block .button:hover {
      background: #242424;
      color: #ffffff; }
    #admin-main .admin-block .button.dropdown-toggle {
      border-left: 1px solid #3c3c3e; }
#admin-main .danger.button-bar, #admin-main .success.button-bar {
  background: #fafafa; }
#admin-main .danger.button-bar .button {
  color: white;
  border-radius: 4px;
  background: #c13c13; }
  #admin-main .danger.button-bar .button:hover {
    background: #444444;
    color: #ffffff; }
  #admin-main .danger.button-bar .button.dropdown-toggle {
    border-left: 1px solid #aa3511; }
#admin-main .content-padding div[class*=notifications-container] .alert.note {
  background: #ffffff;
  color: #49494b; }
  #admin-main .content-padding div[class*=notifications-container] .alert.note.alert {
    border-bottom: 2px solid #f2f2f2; }
  #admin-main .content-padding div[class*=notifications-container] .alert.note a:not(.button) {
    color: #232324; }
    #admin-main .content-padding div[class*=notifications-container] .alert.note a:not(.button):hover {
      color: #171717; }
#admin-main .content-padding div[class*=notifications-container] .alert.warning {
  background: #d43200;
  color: #ffffff; }
  #admin-main .content-padding div[class*=notifications-container] .alert.warning.alert {
    border-bottom: 2px solid #bb2c00; }
  #admin-main .content-padding div[class*=notifications-container] .alert.warning a {
    color: #ffffff; }
    #admin-main .content-padding div[class*=notifications-container] .alert.warning a:hover {
      color: white; }
#admin-main #notifications .badge.alert.note {
  background: #232324;
  color: #ffffff; }
#admin-main #notifications .badge.alert.warning {
  background: #d43200;
  color: #ffffff; }

.sidebar-mobile-open #admin-main .lines-button .lines, .sidebar-mobile-open #admin-main .lines-button .lines:before, .sidebar-mobile-open #admin-main .lines-button .lines:after {
  background: #ffffff; }

#admin-dashboard .admin-block li {
  border-bottom: 1px solid #f7f7f7; }
#admin-dashboard .primary-accent {
  background-color: #fcfcfc;
  background-image: -webkit-linear-gradient(#fcfcfc, #ffffff);
  background-image: linear-gradient(#fcfcfc, #ffffff); }
  #admin-dashboard .primary-accent p {
    color: rgba(73, 73, 75, 0.95); }
  #admin-dashboard .primary-accent .stat i {
    color: rgba(73, 73, 75, 0.75); }
  #admin-dashboard .primary-accent .numeric em {
    color: rgba(73, 73, 75, 0.85); }
  #admin-dashboard .primary-accent .chart-loader {
    color: #cccccc; }
#admin-dashboard .secondary-accent {
  background-color: #cfbda4;
  background-image: -webkit-linear-gradient(#cfbda4, #d1bfa7);
  background-image: linear-gradient(#cfbda4, #d1bfa7); }
  #admin-dashboard .secondary-accent p {
    color: rgba(255, 255, 255, 0.95); }
  #admin-dashboard .secondary-accent .stat i {
    color: rgba(255, 255, 255, 0.75); }
  #admin-dashboard .secondary-accent .numeric em {
    color: rgba(255, 255, 255, 0.85); }
  #admin-dashboard .secondary-accent .chart-loader {
    color: #a79986; }

form h1, form h3 {
  color: #49494b;
  border-bottom: 3px solid #f7f7f7; }
form .note {
  color: #d43200; }
form .required {
  color: #bb2c00; }
form .form-border {
  border: 1px solid #e6e6e6; }
form .form-field-colors {
  background-color: white;
  color: #3c3c3e; }
form .form-select-wrapper:after, form .selectize-control.single .selectize-input:after {
  color: #6f6f72; }
form .selectize-control.single .selectize-input, form .selectize-control.single .selectize-input.full, form .selectize-control.single .selectize-input.items, form .selectize-control.single .selectize-input.active, form .selectize-control.multi .selectize-input, form .selectize-control.multi .selectize-input.full, form .selectize-control.multi .selectize-input.items, form .selectize-control.multi .selectize-input.active {
  color: #3c3c3e;
  border-color: #e6e6e6;
  background-color: white; }
form .selectize-control.single .selectize-input input, form .selectize-control.multi .selectize-input input {
  color: #3c3c3e; }
form .form-input-wrapper .form-input-addon {
  border: 1px solid #e6e6e6;
  background: #fafafa; }
form .selectize-control.multi .selectize-input > div {
  color: #ffffff;
  background: #49494b; }
  form .selectize-control.multi .selectize-input > div.active {
    background: #49494b;
    color: #ffffff; }
form select {
  border: 1px solid #e6e6e6;
  background: white;
  color: #3c3c3e; }
form input[type=text],
form input[type=password],
form input[type=email],
form input[type=date],
form input[type=tel],
form input[type=time],
form input[type=week],
form input[type=month],
form input[type=number],
form input[type=color],
form input[type=url] {
  border: 1px solid #e6e6e6;
  background: white;
  color: #3c3c3e; }
form input[readonly=readonly] {
  background: #ffffff; }
form textarea {
  border: 1px solid #e6e6e6;
  background: white; }
form .form-frontmatter-wrapper {
  border: 1px solid #e6e6e6; }
form .button-bar {
  background: #f7f7f7; }
form .checkboxes label:before {
  background: white;
  border: 1px solid #e6e6e6; }
form input::-webkit-input-placeholder, form textarea::-webkit-input-placeholder, form select::-webkit-input-placeholder {
  color: #171717; }
form input::-moz-placeholder, form textarea::-moz-placeholder, form select::-moz-placeholder {
  color: #171717; }
form input:-moz-placeholder, form textarea:-moz-placeholder, form select:-moz-placeholder {
  color: #171717; }
form input:-ms-input-placeholder, form textarea:-ms-input-placeholder, form select:-ms-input-placeholder {
  color: #171717; }
form .g-colorpicker {
  width: 230px; }
  form .g-colorpicker .g-colorpicker-preview-wrap {
    border-color: #e6e6e6;
    height: 43px;
    width: 43px; }
  form .g-colorpicker input {
    height: 43px; }
form .form-input-file {
  border: 2px dashed #e6e6e6; }
  form .form-input-file p {
    color: #3c3c3e; }
  form .form-input-file ul {
    color: #49494b;
    background: #ffffff; }
form .file-thumbnail-remove {
  background: #49494b; }
  form .file-thumbnail-remove .fa {
    color: #ffffff; }
  form .file-thumbnail-remove:hover {
    background: #ffffff; }
    form .file-thumbnail-remove:hover .fa {
      color: #49494b; }
form input[type=range]::-webkit-slider-runnable-track {
  background: #fafafa;
  border: 1px solid #e6e6e6; }
form input[type=range]::-webkit-slider-thumb {
  border: 1px solid #e6e6e6;
  background: #49494b; }
form input[type=range]:focus::-webkit-slider-runnable-track {
  background: #fafafa; }
form input[type=range]::-moz-range-track {
  background: #fafafa;
  border: 1px solid #e6e6e6; }
form input[type=range]::-moz-range-progress {
  background: #fafafa; }
form input[type=range]::-moz-range-thumb {
  border: 1px solid #e6e6e6;
  background: #49494b; }
form input[type=range]::-ms-fill-lower, form input[type=range]::-ms-fill-upper {
  background: #fafafa;
  border: 1px solid #e6e6e6; }
form input[type=range]::-ms-thumb {
  border: 1px solid #e6e6e6;
  background: #49494b; }
form input[type=range]:focus::-ms-fill-lower, form input[type=range]:focus::-ms-fill-upper {
  background: #fafafa; }

.grav-editor-resizer {
  background-color: #d5d5d5;
  background-color: #d5d5d5;
  background-image: -webkit-linear-gradient(top, #d5d5d5 0%, #d5d5d5 20%, #ededed 20%, #ededed 40%, #d5d5d5 40%, #d5d5d5 60%, #ededed 60%, #ededed 80%, #d5d5d5 80%, #d5d5d5 100%);
  background-image: linear-gradient(to bottom,#d5d5d5 0%, #d5d5d5 20%, #ededed 20%, #ededed 40%, #d5d5d5 40%, #d5d5d5 60%, #ededed 60%, #ededed 80%, #d5d5d5 80%, #d5d5d5 100%); }

.form-order-wrapper .note {
  background: inherit; }
.form-order-wrapper ul#ordering li {
  border: 1px solid #e6e6e6;
  background: white;
  color: #49494b; }
  .form-order-wrapper ul#ordering li.drag-handle {
    background: white;
    color: #3c3c3e; }

.form-list-wrapper ul[data-collection-holder] > li {
  border: 1px solid #e6e6e6;
  background: white;
  color: #626265; }
  .form-list-wrapper ul[data-collection-holder] > li .item-actions {
    color: #303031; }
.form-list-wrapper .collection-sort {
  background: #e9e9e9;
  border-right: 1px solid #ddd; }

.form-fieldset {
  background-color: #f7f7f7;
  border: 2px solid #e1e1e1; }

.form-fieldset--label {
  background-color: #f3f3f3; }
  .form-fieldset--label:hover, .form-fieldset input:checked + .form-fieldset--label {
    background-color: #eee; }

.form-tabs {
  background: #49494b; }
  .form-tabs > input[type=radio]:checked + label {
    background: #ffffff;
    color: #49494b; }
  .form-tabs > label {
    color: #ffffff; }
    .form-tabs > label:hover {
      color: white;
      background: #626265; }
  .form-tabs.subtle {
    background: #f2f2f2; }
    .form-tabs.subtle > label {
      color: #424244; }
      .form-tabs.subtle > label:hover {
        color: #3a3a3c;
        background: #e6e6e6; }

.tab-body-wrapper {
  background: #ffffff; }

.switch-grav {
  background-color: white;
  border: 1px solid #e6e6e6;
  /* Selected ON switch-light
   */ }
  .switch-grav label {
    color: #49494b; }
  .switch-grav a {
    background: #49494b;
    color: #ffffff; }
  .switch-grav.switch-toggle input.highlight:checked ~ a {
    background: #49494b; }
  .switch-grav.switch-light input:checked ~ a {
    background-color: #777; }
  .switch-grav input:checked + label {
    color: #fff; }

.toast {
  background-color: #030303; }

.toast-success {
  background-color: #8e8e90; }
  .toast-success .button {
    background: #9b9b9d;
    color: white;
    border-radius: 4px;
    background: #a8a8a9; }
    .toast-success .button:hover {
      background: #8f8f90;
      color: #ffffff; }
    .toast-success .button.dropdown-toggle {
      border-left: 1px solid #b5b5b6; }

.toast-error {
  background-color: #d43200; }
  .toast-error .button {
    background-color: #a12600;
    color: white;
    border-radius: 4px;
    background: #6e1a00; }
    .toast-error .button:hover {
      background: #111111;
      color: #ffffff; }
    .toast-error .button.dropdown-toggle {
      border-left: 1px solid #551400; }

.toast-info {
  background-color: #49494b; }
  .toast-info .button {
    background-color: #303031;
    color: white;
    border-radius: 4px;
    background: #171717; }
    .toast-info .button:hover {
      background: black;
      color: #ffffff; }
    .toast-info .button.dropdown-toggle {
      border-left: 1px solid #0a0a0a; }

.info {
  background: #8e8e90;
  color: #ffffff; }
  .info.alert {
    border-bottom: 2px solid #818183; }
  .info a {
    color: #e6e6e6; }
    .info a:hover {
      color: #ffffff; }
  .info a.button, .info span.button, .info button.button {
    color: white;
    border-radius: 4px;
    background: #727273; }
    .info a.button:hover, .info span.button:hover, .info button.button:hover {
      background: #616162;
      color: #ffffff; }
    .info a.button.dropdown-toggle, .info span.button.dropdown-toggle, .info button.button.dropdown-toggle {
      border-left: 1px solid #7f7f80; }

.info-reverse {
  color: #8e8e90; }

.notice, .note {
  background: #49494b;
  color: #ffffff; }
  .notice.alert, .note.alert {
    border-bottom: 2px solid #3c3c3e; }
  .notice a, .note a {
    color: #e6e6e6; }
    .notice a:hover, .note a:hover {
      color: #ffffff; }
  .notice a.button, .notice span.button, .notice button.button, .note a.button, .note span.button, .note button.button {
    color: white;
    border-radius: 4px;
    background: #3a3a3c; }
    .notice a.button:hover, .notice span.button:hover, .notice button.button:hover, .note a.button:hover, .note span.button:hover, .note button.button:hover {
      background: #313133;
      color: #ffffff; }
    .notice a.button.dropdown-toggle, .notice span.button.dropdown-toggle, .notice button.button.dropdown-toggle, .note a.button.dropdown-toggle, .note span.button.dropdown-toggle, .note button.button.dropdown-toggle {
      border-left: 1px solid #474749; }

.notice-reverse, .note-reverse {
  color: #49494b; }

.error, .warning {
  background: #b6411e;
  color: #ffffff; }
  .error.alert, .warning.alert {
    border-bottom: 2px solid #bb2c00; }
  .error a, .warning a {
    color: #e6e6e6; }
    .error a:hover, .warning a:hover {
      color: #ffffff; }
  .error a.button, .error span.button, .error button.button, .warning a.button, .warning span.button, .warning button.button {
    color: white;
    border-radius: 4px;
    background: #aa2800; }
    .error a.button:hover, .error span.button:hover, .error button.button:hover, .warning a.button:hover, .warning span.button:hover, .warning button.button:hover {
      background: #912200;
      color: #ffffff; }
    .error a.button.dropdown-toggle, .error span.button.dropdown-toggle, .error button.button.dropdown-toggle, .warning a.button.dropdown-toggle, .warning span.button.dropdown-toggle, .warning button.button.dropdown-toggle {
      border-left: 1px solid #c42e00; }

.notice.warning {
  background: #ac9828; }

.notice.alert {
  background: #353536; }

.notice.success {
  background: #28ac45; }

.error-reverse, .warning-reverse {
  color: #d43200; }

.primary-accent {
  background: #f2f2f2;
  color: #49494b; }
  .primary-accent .button-bar {
    background: #ededed; }
  .primary-accent .button {
    color: #49494b;
    border-radius: 4px;
    background: #ffffff; }
    .primary-accent .button:hover {
      background: #d9d9d9;
      color: #49494b; }
    .primary-accent .button.dropdown-toggle {
      border-left: 1px solid white; }

.secondary-accent {
  background: #c8b396;
  color: #ffffff; }
  .secondary-accent .button-bar {
    background: #c5ae90; }
  .secondary-accent .button {
    color: white;
    border-radius: 4px;
    background: #d1bfa7; }
    .secondary-accent .button:hover {
      background: #b2a28e;
      color: #ffffff; }
    .secondary-accent .button.dropdown-toggle {
      border-left: 1px solid #dacbb8; }

.card-item {
  border: 1px solid #f2f2f2;
  background: #ffffff; }
  .card-item .gpm-actions {
    background: #fafafa; }
  .card-item.active-theme {
    border: 1px solid #49494b; }
    .card-item.active-theme .gpm-actions {
      background: #49494b;
      color: #ffffff; }

.user-details h2 {
  color: #49494b; }
  .user-details h2 span {
    color: #49494b; }
.user-details .gravatar {
  color: #7b7b7f; }
  .user-details .gravatar a {
    color: #49494b !important; }

#admin-main .grav-editor-toolbar .dropdown-menu {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.075);
  border: 1px solid #e6e6e6;
  background: white; }

#admin-main .grav-editor-toolbar {
  border: 1px solid #e6e6e6;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  background: white; }
  #admin-main .grav-editor-toolbar ul a {
    color: #49494b; }
    #admin-main .grav-editor-toolbar ul a:hover, #admin-main .grav-editor-toolbar ul a:focus {
      background: #f7f7f7;
      color: #3c3c3e;
      border-top: 1px solid #e6e6e6; }
  #admin-main .grav-editor-toolbar ul .editor-active a {
    cursor: auto;
    background: white;
    border-top: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6; }
    #admin-main .grav-editor-toolbar ul .editor-active a:hover {
      background: #ffffff;
      border-top: 0;
      border-bottom: 1px solid #ffffff; }
  #admin-main .grav-editor-toolbar ul .editor-active:last-child a, #admin-main .grav-editor-toolbar ul .editor-active:last-child a:hover {
    border-right: 1px solid transparent; }
  #admin-main .grav-editor-toolbar ul .button-disabled a {
    color: rgba(73, 73, 75, 0.5); }
    #admin-main .grav-editor-toolbar ul .button-disabled a:hover, #admin-main .grav-editor-toolbar ul .button-disabled a:focus {
      background: white;
      color: #49494b;
      border-left: 1px solid transparent;
      border-right: 1px solid transparent; }

#admin-main .grav-editor-hide-toolbar + div {
  border: 1px solid #e6e6e6; }

.grav-editor-content, .grav-editor-preview {
  border: 1px solid #e6e6e6;
  border-top: 0; }

.grav-mdeditor-content {
  border: 1px solid #e6e6e6; }

[data-mode=split] .grav-mdeditor-code {
  border-right: 1px solid #e6e6e6; }

#admin-main .grav-editor-preview h1, #admin-main .grav-editor-preview h2, #admin-main .grav-editor-preview h3, #admin-main .grav-editor-preview h4, #admin-main .grav-editor-preview h5, #admin-main .grav-editor-preview h6 {
  color: #303031; }

.primary-accent .ct-chart .ct-series.ct-series-a .ct-bar {
  stroke: rgba(73, 73, 75, 0.85) !important; }
.primary-accent .ct-chart .ct-series.ct-series-a .ct-slice-donut {
  stroke: #49494b !important; }
.primary-accent .ct-chart .ct-series.ct-series-b .ct-slice-donut {
  stroke: rgba(73, 73, 75, 0.2) !important; }

.secondary-accent .ct-chart .ct-series.ct-series-a .ct-bar {
  stroke: rgba(255, 255, 255, 0.85) !important; }
.secondary-accent .ct-chart .ct-series.ct-series-a .ct-slice-donut {
  stroke: #ffffff !important; }
.secondary-accent .ct-chart .ct-series.ct-series-b .ct-slice-donut {
  stroke: rgba(255, 255, 255, 0.2) !important; }

.dropzone {
  background: white;
  border: 1px #e6e6e6 solid; }
  .dropzone.dz-drag-hover {
    border-color: rgba(0, 0, 0, 0.15);
    background: rgba(0, 0, 0, 0.04); }
  .dropzone .dz-preview .dz-success-mark, .dropzone .dz-preview .dz-error-mark {
    color: #ffffff; }
  .dropzone .dz-preview .dz-success-mark {
    background-color: #626265; }
  .dropzone .dz-preview .dz-error-mark {
    background-color: #d43200; }
  .dropzone .dz-preview .dz-progress {
    background: #d7d7d7; }
    .dropzone .dz-preview .dz-progress .dz-upload {
      background-color: #626265; }
  .dropzone .dz-preview .dz-error-message {
    background: white;
    color: #d43200; }
  .dropzone .dz-preview:hover .dz-remove:not(.file-thumbnail-remove), .dropzone .dz-preview:hover .dz-insert {
    border: 1px solid #f2f2f2; }
    .dropzone .dz-preview:hover .dz-remove:not(.file-thumbnail-remove):hover, .dropzone .dz-preview:hover .dz-insert:hover {
      background: #ffffff; }
  .dropzone .dz-preview .dz-details {
    background: white;
    border: 1px solid #f2f2f2; }
  .dropzone.dz-clickable .dz-message, .dropzone.dz-clickable .dz-message span {
    color: #959598; }

.gpm > table > tbody > tr {
  border-bottom: 1px solid #f7f7f7; }
  .gpm > table > tbody > tr:hover {
    background: white; }
.gpm .gpm-name {
  color: #6f6f72; }
.gpm .gpm-version {
  color: #626265; }
.gpm .gpm-ribbon, .gpm .badge.update {
  background: #8e8e90; }
  .gpm .gpm-ribbon a, .gpm .gpm-ribbon, .gpm .badge.update a, .gpm .badge.update {
    color: #ffffff !important; }
    .gpm .gpm-ribbon a:hover, .gpm .gpm-ribbon:hover, .gpm .badge.update a:hover, .gpm .badge.update:hover {
      background: #79797a; }
.gpm .gpm-update .gpm-name {
  color: #49494b; }
.gpm .gpm-item-info {
  border-bottom: 3px solid #f7f7f7; }
  .gpm .gpm-item-info .gpm-item-icon {
    color: #fafafa; }
.gpm .gpm-actions .disabled {
  color: #626265; }
.gpm .gpm-testing {
  background-color: #d43200;
  color: #ffffff; }

.pages-list {
  border-top: 1px solid #f7f7f7; }
  .pages-list .row {
    border-bottom: 1px solid #f7f7f7; }
    .pages-list .row:hover {
      background: white; }
    .pages-list .row p.page-route {
      color: #49494b; }
      .pages-list .row p.page-route .spacer {
        color: #49494b; }
    .pages-list .row .badge.lang {
      background-color: #49494b;
      color: #ffffff; }
    .pages-list .row .badge.lang.info {
      background-color: #8e8e90;
      color: #ffffff; }
  .pages-list .page-home {
    color: #626265; }
  .pages-list .page-info {
    color: #626265; }

#admin-topbar #admin-lang-toggle {
  z-index: 10; }
  #admin-topbar #admin-lang-toggle button {
    color: white;
    border-radius: 4px;
    background: #8e8e90; }
    #admin-topbar #admin-lang-toggle button:hover {
      background: #79797a;
      color: #ffffff; }
    #admin-topbar #admin-lang-toggle button.dropdown-toggle {
      border-left: 1px solid #9b9b9d; }
  #admin-topbar #admin-lang-toggle .dropdown-menu {
    background: #8e8e90; }
    #admin-topbar #admin-lang-toggle .dropdown-menu button {
      background: transparent;
      color: #ffffff; }
#admin-topbar .switch-grav {
  background-color: #626265; }
#admin-topbar .switch-toggle input:checked + label {
  color: #ffffff; }
#admin-topbar .switch-toggle input + label {
  color: #ffffff; }
#admin-topbar .switch-toggle input.highlight:checked ~ a {
  background: #49494b; }

body .selectize-dropdown .optgroup-header {
  color: #000000;
  border-bottom: 1px solid #eee;
  background-color: #fafafa; }

body .bootstrap-datetimepicker-widget.dropdown-menu {
  border-color: #e6e6e6; }
body .bootstrap-datetimepicker-widget table td span:hover, body .bootstrap-datetimepicker-widget table th:hover, body .bootstrap-datetimepicker-widget table td.day:hover {
  background: #f2f2f2 !important; }
body .bootstrap-datetimepicker-widget table .active {
  color: #232324 !important; }
  body .bootstrap-datetimepicker-widget table .active:hover {
    color: #0a0a0a; }

#phpinfo th {
  background: white; }
#phpinfo td {
  word-wrap: break-word; }
  #phpinfo td:first-child {
    color: #49494b; }

.remodal {
  background: #ffffff;
  color: #49494b; }

.remodal-close {
  color: #49494b; }

.remodal-close:hover,
.remodal-close:focus {
  color: #171717; }

.gm-scrollbar .thumb {
  background-color: rgba(0, 0, 0, 0.2); }
  .gm-scrollbar .thumb:hover, .gm-scrollbar .thumb:active {
    background-color: rgba(0, 0, 0, 0.3); }

/*# sourceMappingURL=metal.css.map */
