<div class="button-wrapper">
  <div class="button-bar danger">
    <span class="danger-zone"></span>
    <a class="button" href="#" data-remodal-target="remove-package"><i class="fa fa-fw fa-warning"></i> Remove Plugin</a>
  </div>
  <div class="button-bar">
    <a class="button" href="/admin"><i class="fa fa-reply"></i> Back</a>
    <button class="button" type="submit" name="task" value="save" form="blueprints"><i class="fa fa-check"></i> Save</button>
  </div>
  <div class="button-bar">
    <button class="button"><i class="fa fa-database"></i> Backup</button>
  </div>
  <div class="button-bar">
    <a class="button" href="/admin/pages"><i class="fa fa-fw fa-file-text-o"></i>Manage Pages</a>
  </div>
  <div class="button-bar">
    <div class="button-group">
      <button type="button" class="button disabled" href="#modal" data-remodal-target="modal">
          <i class="fa fa-plus"></i> Add Page
      </button>
      <button type="button" class="button dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-caret-down"></i>
      </button>
      <ul class="dropdown-menu">
        <li><a class="button" href="#modal-folder" data-remodal-target="modal-folder">Add Folder</a></li>
        <li><a class="button" href="#modular" data-remodal-target="modular">Add Modular</a></li>
      </ul>
  </div>
  </div>
  <div class="button-bar">
    <div class="page-shortcuts">
      <span class="button button-x-small" data-page-toggleall="expand"><i class="fa fa-fw fa-plus-circle"></i> Expand All</span>
      <span class="button button-x-small" data-page-toggleall="collapse"><i class="fa fa-fw fa-minus-circle"></i> Collapse All</span>
    </div>
  </div>
</div>