<p class="preview-content">
  <a href="http://getgrav.org">Grav</a> v<span class="grav-version">1.1.12</span> - Admin v1.2.7 - was made with <i class="fa fa-heart"></i> by <a href="http://www.rockettheme.com">RocketTheme</a>.
</p>
<div class="default box-shadow">
  <h5>Success Notice</h5>
  <div class="success notice">Save location: <b>/user/config/plugins/adminstyles.yaml</b></div>

  <h5>Alert Notice</h5>
  <div class="alert notice">Save location: <b>/user/config/plugins/adminstyles.yaml</b></div>

  <h5>Warning Notice</h5>
  <div class="warning notice">Save location: <b>/user/config/plugins/adminstyles.yaml</b></div>
  
  <h5>Error Notice</h5>
  <div class="error notice">Save location: <b>/user/config/plugins/adminstyles.yaml</b></div>
  
  <h5>Tabs</h5>
  <ul class="tab-bar">
    <li class="active">
      <span>System</span>
    </li>
      <li>
        <a href="#">Site</a>  
      </li>
      <li>
        <a href="#">Media</a>
      </li>
      <li>
        <a href="#">Info</a>
      </li>
  </ul>
</div>