// Load Third Party Libraries
@import "base/configuration/template/base";
@import "base/template/modules/bourbon_essentials";
@import "base/template/modules/buttons";

// Theme
$theme-main: #22559c;
$theme-secondary: lighten($theme-main, 15%);
$theme-main-alt: #fa9856;
$theme-secondary-alt: darken($theme-main-alt, 15%);
$theme-text: #000000;
$theme-text-alt: #ffffff;
$theme-background: #ede862;
@import "../variables.scss";

$nav-bg: darken($theme-main-alt, 5%);
$nav-link: $theme-text-alt;
$page-text: $theme-text;
$page-link: lighten($theme-text, 15%);

$content-text: darken($theme-secondary-alt, 50%);
$content-link: darken($theme-secondary-alt, 30%);
$content-tabs-bg: #f27370;
$button-bg: #f27370;

// 'Manage Pages'-specific overrides
.pages-list .page-icon {
    color: saturate($theme-main, 25%);
}
.pages-list .page-icon.not-routable {
    color: saturate($theme-secondary, 25%);
}
.pages-list .page-icon.not-visible {
    color: lighten($theme-main-alt, 15%);
}
.pages-list .page-icon.modular {
    color: adjust-hue(saturate($theme-main, 25%), 180deg);
}

@import "base/preset.scss";
@import "../overrides.scss";

#admin-main .titlebar {
  text-shadow:
    -1px -1px 0 rgba($theme-secondary-alt, 0.1),
    1px -1px 0 rgba($theme-secondary-alt, 0.1),
    -1px 1px 0 rgba($theme-secondary-alt, 0.1),
    1px 1px 0 rgba($theme-secondary-alt, 0.1);
}
#admin-main .titlebar .button-bar .button {
  color: mix($theme-background, $button-text, 7.5%);
}
.gpm .gpm-item-info .gpm-item-icon {
  color: rgba($theme-secondary-alt, 0.2);
}
#admin-dashboard .primary-accent .chart-loader .ct-label {
  color: $theme-text-alt;
}